<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Assignment creation - Faculty
  </title>
 
  {% load static %}
  <link rel='stylesheet' href="{% static 'css/styles.css' %}"/>
</head>


<body class="solid-bg">
  <div class="header-bar">
    <img class="storyer-logo" src="{% static 'media/images/logo.png' %}" alt="Storyer logo" />
  </div>
  <div class="page-text-dark">
    <h1>Assignment Creation</h1>
  </div>

  <div class="assignment-creation-form">
    <form action="" method="POST">{% csrf_token %}
        <div class="page-text-dark">
          <div>
            <label for="inpName" class="assignment-name-create"> Name </label><br>
            <input type="text" class="assignment-name-input" name="assignment_name" required><br>
          </div>
          <div>
            <!-- TODO: replace this with textarea for resizeable textbox, allowing for making it easier to read created description-->
            <label for="inpDescrip" class="assignment-descrip-create"> Description </label><br>
            <input type="text" class="assignment-descrip-input" height=20 name="assignment_description" required><br>
          </div>
          
          <div>
            <!-- FOREACh group in course, create dropdown box entry to choose which group gets this assignment -->
          </div>

          <div>
            <button type="submit" class="assigment-create-button"> CREATE </button>
          </div>
        </div>
    </form>
  </div>

  <div class="faculty-side-nav">
    <button type="submit" class="button">
      <a href="{% url 'storyer:faculty_landing' faculty.id course.id %}">GO BACK</a>
    </button>
  </div>
  
</body>
</html>
