<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Submission Links - Facility 
  </title>
 
  {% load static %}
  <link rel='stylesheet' href="{% static 'css/styles.css' %}"/>
  <link rel='stylesheet' href="{% static 'css/pagestyles.css' %}"/>
</head>

<body class="solid-bg">
  <div class="header-bar">
    <img class="storyer-logo" src="{% static 'media/images/logo.png' %}" alt="Storyer logo" />
  </div>

  <div class="group-list-container">
    <!-- display each group and a list of submissions -->
    <!-- FOREACH group in course -->
      <!-- group name -->
      <div class="group-container">
        <!-- SCROLLBOX -->
          <!-- FOREACh assignment in group -->
          <div class="assignment-container">
            <!-- LIST OF LINKS if submitted -->
          </div>
      </div>
  </div>

  <div class="faculty-side-nav">
    <button type="submit" class="button">
      <a href="{% url 'storyer:faculty_landing' faculty.id course.id %}">GO BACK</a>
    </button>
  </div>
  
</body>
